-# Title and publish date of the article
-# title GO BIG or GO HOME 4
-# pub-date 24 July 2010

#content
  #title-container.image
    #article-title GO BIG or GO HOME
    #article-subtitle + a short descriptive subtitle
    #fb-like-button
      %iframe{ :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=35",
              :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:450px; height:35px;",
              :allowTransparency => "true" }
    #article-highlights.white-box Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
    .credits Photo By Allen Burt

  .three-col
    .first.arrow Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl 
    .second.quote "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy"
    .third Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl 

  .one-col Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl 

  .two-col
    .first.blue-box#essentials
      .title Essentials
      %ul
        %li Lorem ipsum
        %li dolor sit amet
        %li consectetuer adipiscing
    .second.image
      %img{ :src => '/img/go-big-or-go-home/bigstock_At_Your_Own_Risk_scaled.jpg', :alt => "At your own risk" }
      .credits Photo by Allen Burt

  .two-col
    .first Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .second.blue-box
      .title How to get there
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat

#share-via-wrapper
  #share-via
    Share Via:
    %a{ :href => "http://twitter.com/epicthrills"}
      %img{ :src => "/twitter.png", :alt => "Twitter" }
      Twitter
    %a{ :href => "http://facebook.com" }
      %img{ :src => "/facebook.png", :alt => "Facebook" }
      Facebook
    %a{ :href => "" }
      %img{ :src => "/email.png", :alt => "Email" }
      Email
    %a{ :href => "http://digg.com" }
      %img{ :src => "/digg.png", :alt => "Digg" }
      Digg
    %a{ :href => "http://stumbleupon.com" }
      %img{ :src => "/stumbleupon.png", :alt => "Email" }
      StumbleUpon

  
