-# Title and publish date of the article
-# title Top Gun for a Day
-# pub-date 22 August 2010
-# description Mid-air dogfighting in real military fighter planes.

#content-wrapper

#content
  #title-container.image
    #article-title TOP GUN for a Day
    #article-subtitle + Take to the air in a real head-to-head dogfight with Air Combat USA
    #fb-like-button
      %iframe{ :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=35",
              :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:450px; height:35px;",
              :allowTransparency => "true" }
    .credits Photo By Air Combat USA

  .one-col.intro <b>></b> We know you’re accustomed to flying First Class, but we think you’ll make an exception. Especially since it guarantees shooting down enemy bogies in a real military fighter aircraft.

  .two-col
    .first.arrow Welcome to <a href="http://www.aircombat.com">Air combat USA</a>, the world's original dog fighting school offering real air combat training for civilians. <br><br>How real? Just ask the crewman strapping you into a military issued flight suit and parachute. Basically, it's the closest you’ll get to fulfilling your TOP GUN fantasy, aside from say, enlisting in the military.
    .second Before taking flight, you'll be given some technical training in ground school from a seasoned airman, who hopefully sports an impressive mustache and talks in cryptic code, like “Boogie Left” and “On Your Six!” But take the instruction seriously, these guys flew actual combat missions in Vietnam and Desert Storm. <br><br>Let’s just say, they know their stuff.

  .one-col.quote <i>"These fighters pull up to 6 Gs – 3x that of a typical rollercoaster."</i>

  .two-col
    .first.image
      %img{ :src => '/img/go-big-or-go-home/aircombatphoto2.jpg', :alt => "Cockpit" }
      .credits Photo by Air Combat USA
    .second   All the details have been arranged, including your Italian made SIAI Marchetti aircraft that seats you directly next to the instructor, allowing you to man the controls solo for the critical dogfights.  Once in the air, you'll have to outsmart and outgun your opponent in  a series of head-to-head missions.<br><br>The aircraft comes with intercept capabilities to find targets beyond visual range. Lock your target, and fire. Ammunition is simulated, so when you make a hit, smoke will trail from the “damaged” aircraft. The defeats register on a tracking system to keep score - sound effects included, of course.

  .two-col
    .first The enemy might be your boss or co-worker looking for a friendly challenge, but that won't stop you from unleashing some fury on his ass.  Trust us, he won't have a chance to lock his target as you're busy distracting him with double barrel and vertical roll maneuvers.  These fighters pull up to 6 Gs – 3x that of a typical roller coaster.<br><br>The whole mission gets recorded from the gunsight mounted camera, so that after the flight, you can relive the experience.  Be sure to watch the fight from your opponent's perspective so you can witness his expression as you blow him out of the sky.
    .second.blue-box#essentials
      .title Essentials
      %ul
        %li Packages are for single players or groups
        %li Basic Air Combat Manuevers include One Mission (5-6 dogfights) for 2 ½ to 3 hours
        %li Fighter Lead in Program includes Two Missions (10 dogfights) for 5-6 hours
        %li Top Gun Challenge includes One Mission per 10 person group, plus shoot-off round for one full day
        %li Aviators and bomber jackets not included

  .two-col
    .first And after savoring your sweet victory, don’t forget to buzz the tower. 
    .second.blue-box
      .title How to get there
      %p The company operates an aerial circus that travels to 30 mostly smaller and mid-sized airports throughout the year.  <br><br>See their website for dates and booking information. <br> <a href="http://www.aircombat.com"> AirCombat.com</a>


#share-via-wrapper
  #share-via
    Share Via:
    %a{ :href => "http://twitter.com/epicthrills"}
      %img{ :src => "/twitter.png", :alt => "Twitter" }
      Twitter
    %a{ :href => "http://facebook.com" }
      %img{ :src => "/facebook.png", :alt => "Facebook" }
      Facebook
    %a{ :href => "" }
      %img{ :src => "/email.png", :alt => "Email" }
      Email
    %a{ :href => "http://digg.com" }
      %img{ :src => "/digg.png", :alt => "Digg" }
      Digg
    %a{ :href => "http://stumbleupon.com" }
      %img{ :src => "/stumbleupon.png", :alt => "Email" }
      StumbleUpon
/[if IE]
  #dummy-ie-div
