-# Title and publish date of the article
-# title Mototaxi Junket
-# pub-date 30 August 2010

#content-wrapper

#content
  #content-header
    #title-container
      #fb-like-button
        %iframe{ :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=35",
                :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:450px; height:35px;",
                :allowTransparency => "true" }
      #article-title 
      #article-subtitle
      #article-highlights QUESTION:  What do you get when you cross adrenaline-seeking junkies with rickety, unreliable vehicles in the extreme landscape conditions of South America?<br><br><br>ANSWER:  The Mototaxi Junket, a down-and-dirty, cross-country race that runs from Asuncion, Paraguay, to Cusco, Peru, aboard a mototaxi, a customized motorbike of sorts with three wheels and an uncomfortable sofa on the back, all covered by a ramshackle shade.

  .two-col
    .first.justify When you’ve hiked the Inca Trail to Machu Picchu, traversed the mountains in Bolivia, kayaked the deep lakes of Patagonia and cycled through the Andes, there’s still one adventure left in South America that you probably haven’t encountered, and that’s the Mototaxi Junket.<br><br>In 2011, the Mototaxi Junket will celebrate its third year of bruises, bumps and scrapes, but the creators of the event aren’t strangers to adrenaline-junkie adventures. 
    .second.image 
      %img{ :src => '/img/go-big-or-go-home-2/mototaxi4.jpg', :alt => "mototaxi" } 

  .two-col
    .first
    .second.justify three wheels and an uncomfortable sofa on the back, all covered by a ramshackle shade.  When you’ve hiked the Inca Trail to Machu Picchu, traversed the mountains in Bolivia, kayaked the deep lakes of Patagonia and cycled through the Andes, there’s still one adventure left in South America that you probably haven’t encountered, and that’s the Mototaxi Junket.<br><br>In 2011, the Mototaxi Junket will celebrate its third year of bruises, bumps and scrapes, but the creators of the event aren’t strangers to adrenaline-junkie adventures. You may be more familiar with the Adventurists’ other races, which include the Mongol Rally, a multi-week race from England to Mongolia, and the Rickshaw Run, which crosses India.  Like these other races, the Mototaxi Junket has a starting point and ending point (about 2,485 miles apart), but the route between the two is completely up to the teams, which are each made of one to three people.


  
  .two-col
    .first.blue-box#essentials
      .title Essentials
      %ul
        %li Lorem ipsum
        %li dolor sit amet
        %li consectetuer adipiscing
    .second.blue-box#essentials
      .title How to get there
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat

  #content-body


#share-via-wrapper
  #share-via
    Share Via:
    %a{ :href => "http://twitter.com/epicthrills"}
      %img{ :src => "/twitter.png", :alt => "Twitter" }
      Twitter
    %a{ :href => "http://facebook.com" }
      %img{ :src => "/facebook.png", :alt => "Facebook" }
      Facebook
    %a{ :href => "" }
      %img{ :src => "/email.png", :alt => "Email" }
      Email
    %a{ :href => "http://digg.com" }
      %img{ :src => "/digg.png", :alt => "Digg" }
      Digg
    %a{ :href => "http://stumbleupon.com" }
      %img{ :src => "/stumbleupon.png", :alt => "Email" }
      StumbleUpon

  
