#bg_img_container.hidden
  %img#bg_img{:src => '/img/bg_img.jpg'}
#about_frame_container
  #about_frame_wrapper
    %a{ :href=> "/" }
      %img{:src => "/img/logo.png"}
    #about_frame
      #about_dummy
      #about_text
        %p.title About Epic Thrills
        %p Epic Thrills provides exclusive access to cutting edge adventure trips and experiences.  
        %p.title Exclusive Private Sales
        %p Sales occur on a first come first serve basis and are only available to members.  To become a member, you must <a href="/">request an invitation to join</a> or receive an invitation from a current member. Membership is free and there is never any commitment to make a purchase.
        %p 
          %a{ :href=> "/" } Pre-launch registration is still available! PRE-REGISTER HERE.
        %p.title Explore New Frontiers
        %p Whether it’s summiting Mt. Kilimanjaro, shark cage diving in South Africa, driving Formula One race cars in Indiana, or hiking the jungles of Peru, we hand select the most authentic and unique adventure trips and experiences domestically and around the world.  Our suppliers have been featured in such publications as National Geographic and Outside Magazine.