#bg_img_container.hidden
  %img#bg_img{:src => '/img/bg_img.jpg'}
#about_frame_container
  #about_frame_wrapper
    %a{ :href=> "/" }
      %img{:src => "/img/logo.png"}
    #about_frame
      #about_dummy
      #about_text
        %p.title Contact Us
        %p Are you an adventure travel outfitter or supplier interested in partnering with EpicThrills?  Contacts us to find out how we can help you increase your sales.  We are your brand advocate!
        %p EMAIL: <a href="mailto:allen@epicthrills.com">allen@epicthrills.com</a> 