#bg_img_container.hidden
  %img#bg_img{:src => '/img/bg_img.jpg'}
#about_frame_container
  #about_frame_wrapper
    %img{:src => "/img/logo.png"}
    #about_frame
      #about_dummy
      #about_text
        %p.title Contact Us
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 