#bg_img_container.hidden
  %img#bg_img{:src => '/img/bg_img.jpg'}
#home_frame_container
  #home_frame_wrapper
    #home_frame_logo.logo_container
      %a{ :href=> "/" }
        %img{:src => "/img/logo.png"}
    #home_frame
      #home_frame_text
        %br
        %p.title Modern Adventure Trips.
        %p.title Elite Experiences.
        %p.title Members-Only.
        %p.subtitle Gain exclusive access, perks, and deals on extreme adventure trips and activities.
        %p.subtitle2 Register for early access and updates before we launch.
        %input#email{ :type => 'text',
                :name => 'email_address',
                :placeholder => 'Email address',
                :size => 25 }
        %input#pre_reg_button{:name => "commit", :type => "submit", :value => "Pre-Register"}
        .error.hidden
        %a#pre_register_link.hidden{:href => "#register_form_container"} Pre-Register
        %p.spam (No Spam, Promise!)

#hidden
  - unless params[:r].blank?
    %input#referrer{:type => 'hidden', :value => params[:r]}
  #register_form_container
    %span.logo_container
      %img{:src => "/img/logo_white.png"}
    %span
      %p.title Thanks! Want to get an early invitation?
      %br
      %p.text
        Invite atleast 3 friends using the link below. The more friends you invite, the sooner you'll get access!
      %p
        To share with your friends, click "Share" and "Tweet":
      %p

        %a#fb-link{ :name => 'fb_share', :type => 'button', :href => "http://www.facebook.com/sharer.php?u=http://www.epicthrills.com&t=Modern Adventure.  Elite Experiences. Members-Only."}

      %p
        %a#twitter-link.twitter-share-button{ 'data-text' => "Just registered for @EpicThrills - the hottest adventure trips and activities at members-only prices http://www.epicthrills.com", :onclick => "javascript:pageTracker._trackPageview('/outgoing/twitter.com/home/?status=Just registered for @EpicThrills - the hottest adventure trips and activities at members-only prices http://www.epicthrills.com');", :target => "_blank", 'data-count' => 'none' }


      %p
        Or copy and paste the following link to share wherever you want!

      %p
        %input#direct-link{:type => 'text', :size => '35', :name => 'direct_link'}
    /[if IE]
      %p
        %a{ :href => "javascript:;", :onclick => "$.fancybox.close();", :id => 'close_link'} [X] Close


%script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js" }
%script{:type => "text/javascript", :src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share"}
