#bg_img_container.hidden
  %img#bg_img{:src => '/img/bg_img.jpg'}
#home_frame_container
  #home_frame_wrapper
    #home_frame_logo.logo_container
      %a{ :href=> "/" }
        %img{:src => "/img/logo.png"}
    #home_frame
      #home_frame_text
        %br
        %br
        %p.title Modern Adventure Trips.
        %p.title Elite Experiences.
        %p.title Members-Only.
        %br
        %p Pre-register to receive exclusive deals on adventure trips and activities.
        %input#email{ :type => 'text',
                :name => 'email_address',
                :placeholder => 'Email address',
                :size => 25 }
        %input#pre_reg_button{:name => "commit", :type => "submit", :value => "Pre-Register"}
        %a#pre_register_link.hidden{:href => "#register_form_container"} Pre-Register

#hidden
  #register_form_container
    %span.logo_container
      %img{:src => "/img/logo_white.png"}
    %span
      %p.title.left Welcome
      %p.left
        Thanks for signing up! |
        Look out for a confirmation email in your inbox and we'll let you |
        know when we launch our first sales!
      %p.left
        Until then, take a gander at our
        %a{ :href => 'http://epicthrills.tumblr.com' } <b>EPIC Blog</b>.  
        We scour the globe finding the hottest adventure shiz around.  Trust us.
        %a{ :href=> 'http://epicthrills.tumblr.com'} Check It Out.

      %p.title.left Invite Others
      %p.left
        Tackling big mountain backcountry and chasing trade winds is always better with a travel buddy.  Don't be greedy, spread the word!
    #share-via-wrapper-popup
      #share-via-popup
        %a{ :href => "http://twitter.com/home/?status=Just registered for @EpicThrills - the hottest adventure trips and activities at members-only prices http://www.epicthrills.com", :oneclick => "javascript:pageTracker._trackPageview('/outgoing/twitter.com/home/?status=Just registered for @EpicThrills - the hottest adventure trips and activities at members-only prices http://www.epicthrills.com');", :target => "_blank" }
          %img{ :src => "/twitter.png", :alt => "Twitter" }
          Twitter        
        
        %a{ :href => "http://www.facebook.com/sharer.php?u=http://www.epicthrills.com&t=Modern Adventure.  Elite Experiences. Members-Only.", :target => "_blank"}
          %img{ :src => "/facebook.png", :alt => "Facebook" }
          Facebook
    /[if IE]
      %a{ :href => "javascript:;", :onclick => "$.fancybox.close();", :id => 'close_link'} [X] Close
        